<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<br>
<form class="needs-validation m-auto text-center w-50" novalidate="" th:method="POST">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">Имя</label>
            <input type="text" th:name="firstName" class="form-control" id="firstName" th:value="${user.firstName}" required="">
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Фамилия</label>
            <input type="text" th:name="lastName" class="form-control" id="lastName" th:value="${user.lastName}" required="">
            <div class="invalid-feedback">
                Valid last name is required.
            </div>
        </div>


    <div class="col-md-6 mb-3">
        <label for="email">Email</label>
        <input type="email" th:name="email" class="form-control"  id="email" th:value="${user.email}">
        <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <label for="phone">Телефон</label>
        <input type="phone" th:name="phone" class="form-control"  id="phone" th:value="${user.phone}">

    </div>
    <div class="col-md-6 mb-3">
        <label for="id">Id</label>
        <h2 th:name="id" class="form-control"  id="id" th:text="${user.id}"/>

        <div type="hidden">
            <input th:type="hidden" th:name="password" id="password" th:value="${user.password}">
            <input th:type="hidden" th:name="passwordConfirm"  id="passwordConfirm" th:value="${user.passwordConfirm}">
        </div>
    </div>
        <div  sec:authorize="hasRole('ADMIN')" class="col d-flex flex-column">
        <label>Права</label>
            <div th:each="role : ${roles}" class="form-control">
                <label><input type="checkbox" th:name="${role.name}" class="checkbox m-1"  id="roles" th:text="${role.getAuthority()}" th:checked="${user.roles.contains(role)}">
                </label>
        </div>

    </div>
    </div>
    <button sec:authorize="hasRole('ADMIN')" class="btn btn-primary btn-lg btn-block mt-5" type="submit">Обновить</button>
    <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary btn-lg btn-block mt-5" th:href="'/user/' + ${user.id} + '/delete'">Удалить</a>
</form>
<div class="mb-3">
    <h2 class="m-auto text-center">Заявки пользователя</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">Тема</th>
                <th scope="col">Текст</th>
                <th scope="col">Статус</th>
                <th scope="col">Дата</th>
                <th scope="col">Ссылка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${user.getTickets()}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.topic}"></td>
                <td th:text="${ticket.text}"></td>
                <td th:text="${ticket.status}"></td>
                <td th:text="${ticket.getTicketDate().time}"></td>
                <td><a th:href="'/ticket/' + ${ticket.id}">Подробнее</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>